/* The following will reset pre-existing styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EAEDF0; /* grey */
  font-family: 'Quicksand', sans-serif; /* google font */
}

header {
  background-color: #A0E7E5;  /* blue */
  padding: 10px;
  text-align: center;
}

header h1 {
  padding-bottom: 10px;
}

/* The following will make the content float left next to the navbar */
.content {
  background-color: #FBE7C6; /* yellow */
  text-align: center;
  padding: 30px;
}

p {
  margin-bottom: 10px;
}

.headshot {
    border-radius: 30%;
    border: 1px solid #DDD;
    padding: 5px;
    width: 200px;
}

.tagline {
  font-style: italic;
}

.container {
  overflow: hidden;
}

/* The following will make the navbar float to the left of the page */
.navbar-custom {
    background-color: #B4F8C8; /* green */
}

.navbar-custom a {
    font-weight: bold;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
    border: 1px solid #DDD;
    padding: 5px;
    width: 200px;
    margin: 5px;
    background-color: #FFAEBC;
}

.bold-words {
  font-weight: bold;
}

.card-header {
    background-color: #A0E7E5;
}

.btn-link {
    color: #FFFF;
    font-weight: bold;
}

.btn-link:hover {
    text-decoration: none;
    color: #000000;
}

btn-link:active {
    text-decoration: none;
}

a {
    color: #FFFF;
}
a:visited {
    color: #FFFF;
}

a:hover {
    color: #FFFF;
}

footer {
  overflow: hidden;
  background-color: #FFAEBC; /* red */
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  bottom: 0px;
}
